Long-running Workflow Service/OrderClient/Service References/OrderService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58398/Service1.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58398/Service1.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStartOrder_StartOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:StartOrder" />
  </wsdl:message>
  <wsdl:message name="IStartOrder_StartOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAddItem_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IAddItem_AddItem_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q1:string" />
  </wsdl:message>
  <wsdl:portType name="IStartOrder">
    <wsdl:operation name="StartOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStartOrder/StartOrder" message="tns:IStartOrder_StartOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStartOrder/StartOrderResponse" message="tns:IStartOrder_StartOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAddItem">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddItem/AddItem" message="tns:IAddItem_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddItem/AddItemResponse" message="tns:IAddItem_AddItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStartOrder" type="tns:IStartOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartOrder">
      <soap:operation soapAction="http://tempuri.org/IStartOrder/StartOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAddItem" type="tns:IAddItem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IAddItem/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStartOrder" binding="tns:BasicHttpBinding_IStartOrder">
      <soap:address location="http://localhost:58398/Service1.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAddItem" binding="tns:BasicHttpBinding_IAddItem">
      <soap:address location="http://localhost:58398/Service1.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>