Long-running Workflow Service/OrderClient/Service References/OrderService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StartOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>